<h1><%= @country.name %></h1>

<%= image_tag @country.image_url %>
<p> <b>Information</b> <br> <%= @country.continent %></p>


<br><br>
<hr>

<%= link_to "[Go back]", root_path %>
<%= link_to "[Places]", root_path %>
<%= link_to "[Edit]", edit_country_path(@country.id) %>
<%= link_to "[Delete]", country_path(@country.id), method: :delete, data: { confirm: "Are you sure?" } %>
