<h1><%= @country.name %></h1>

<%= image_tag @country.image_url %>
<p> <b>Information</b> <br> <%= @country.continent %></p>


<br><br>
<hr>

<%= link_to "[Go back]", root_path %>
<%= link_to "[Places]", root_path %>
